.input {
  width: 3.87rem;
  height: 3.87rem;
  border-radius: 0.43rem;

  background-color: #ebebfc;
  border: 0.2rem solid #6363db;
  color: #6363db;

  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;

  outline: none;
}
